#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.picture {
  width: 75px;
  height: auto;
  object-fit: contain;
}

.map {
  height: 300px;
  filter: brightness(40%) grayscale(80%);
  border-radius: 20px;
}
